{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- board_qna CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, World!</title>
  </head>
  <body>
  <!-- nav bar -->
  {% include "navbar.html" %}
  <!-- content start -->
  {% block content %}
  {% endblock %}
  <!-- content end -->
  <!-- Bootstrap JS -->
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <!-- JS start -->
  {% block script %}
  {% endblock %}
  <!-- JS end -->
  </body>
</html>