{% extends 'base.html' %}
{% block content %}
  <div class="container my-3">
    <!-- message for invalid approach -->
    {% if messages %}
      <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
          <strong>{{ message.tags }}</strong>
          <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
      </div>
    {% endif %}
    <!-- question -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">작성자: {{ question.user.username }}</div>
            <div class="mb-2">작성일: {{ question.date_create|date:'Y-m-d H:i:s' }}</div>
            {% if question.date_modify %}
              <div class="mb-2">수정일: {{ question.date_modify|date:'Y-m-d H:i:s' }}</div>
            {% endif %}
          </div>
        </div>
        <div class="my-3">
          <button
            class="recommend btn btn-sm btn-outline-secondary"
            data-uri="{% url 'board_qna:question_vote' question.id %}">추천
            <span class="badge rounded-pill bg-success">{{ question.voter.count }}</span>
          </button>
          {% if request.user == question.user %}
            <a
              href="{% url 'board_qna:question_modify' question.id %}"
              class="btn btn-sm btn-outline-secondary">수정</a>
            <button
              class="delete btn btn-sm btn-outline-secondary"
              data-uri="{% url 'board_qna:question_delete' question.id %}">삭제</button>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- answer -->
    <h5 class="border-bottom my-3 py-2">{{ question.question_answers.count }}개의 답변이 있습니다.</h5>
    {% for answer in question.question_answers.all %}
      <div class="card my-3">
        <div class="card-body">
          <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
          <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
              <div class="mb-2">작성자: {{ answer.user.username }}</div>
              <div class="mb-2">작성일: {{ answer.date_create|date:'Y-m-d H:i:s' }}</div>
              {% if answer.date_modify %}
                <div class="mb-2">수정일: {{ answer.date_modify|date:'Y-m-d H:i:s' }}</div>
              {% endif %}
            </div>
          </div>
          <div class="my-3">
            <button
              class="recommend btn btn-sm btn-outline-secondary"
              data-uri="{% url 'board_qna:answer_vote' answer.id %}">추천
              <span class="badge rounded-pill bg-success">{{ answer.voter.count }}</span>
            </button>
            {% if request.user == answer.user %}
            <a
              href="{% url 'board_qna:answer_modify' answer.id %}"
              class="btn btn-sm btn-outline-secondary">수정</a>
            <button
              class="delete btn btn-sm btn-outline-secondary"
              data-uri="{% url 'board_qna:answer_delete' answer.id %}">삭제</button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- answer create -->
    <form action="{% url 'board_qna:answer_create' question.id %}" method="POST" class="my-3">
      {% csrf_token %}
      {% include "form_errors.html" %}
      <div class="mb-3">
        <label for="content" class="form-label">답변 내용</label>
        <textarea
          {% if not user.is_authenticated %} disabled {% endif %}
          name="content"
          id="content"
          class="form-control"
          rows="10"></textarea>
      </div>
      <input type="submit" value="답변 등록" class="btn btn-primary">
    </form>
  </div>
{% endblock %}
{% block script %}
  {% load static %}
  <script type="text/javascript" src="{% static 'delete.js' %}"></script>
  <script type="text/javascript" src="{% static 'recommend.js' %}"></script>
{% endblock %}